/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    font-family: "Montserrat", sans-serif;
}

header, footer {
    color: #a9ff14;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    display: flex;
    flex-direction: column;
}

p {
    font-size: 26px;
    font-family: 'Cinzel', serif;
}

h2 {
    font-size: 14px;
}

.top-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
}

.top-box p {
    font-size: 16px;
}

.top-box h2 {
    font-size: 10px; 
}

.top-box .icons.closed {
    grid-row: 3/4;
    grid-column: 1/3;
    margin: 20px; 
}

.header-text {
    grid-row: 2/3;
    grid-column: 1/3;
}

.top-box .icons.open {
    grid-row: 3/4;
    grid-column: 1/3;
    margin: 20px; 
}

header p {
    padding: 20px;
}

.header-date {
    background-color: #2a0047;
    margin: 10px;
    border-width: 2px;
    border-color: #1ae6d874;
    border-style: solid;
    padding: 10px;
}

.hamburgerBtn.closed {
    position: absolute;
    top: 5px;
    right: 18%; 
    background-color: black;
}

.logo {
    width: 90px;
    height: auto;
    margin: 15px;
}

#footer-logo {
    width: 160px;
    height: auto;
    margin: 30px;
    align-self: center;
}

header img {
    width: 25px; 
    height: 25px; 
    margin-top: 10px; 
    margin-left: 5px;
    margin-right: 5px; 
    border-radius: 10px;
}

.icons.closed {
    margin-right: 60px;
}

.icons.open {
    margin-right: 0px;
}

h1, p {margin: 0 2vw;}

nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #1AE6DA;
}

nav {
    background-color: #000000;
    height: auto;
    z-index: 1;
}

nav ul.open {
    background-color: #000000;
}

nav ul {
    list-style-type: none; 
    padding: 0;
    margin: 0; 
}

nav ul li a {
    display: block; 
    padding: .8rem 2vw; 
    text-decoration: none;
    color: #1AE6DA;
    border-top: 1px solid rgb(255, 255, 255, 0.5)
}

nav ul li.active a {
    background-color: #000000;
    color: #1AE6DA;
}

nav ul li a:hover {
    background-color: #2a0047;
    color: #a9ff14;
}

nav ul {display: none;}
nav ul.open {display: block;}

.hamburgerBtn span:nth-child(1) {display: block;}
.hamburgerBtn span:nth-child(2) {display: none;}

.hamburgerBtn.open span:nth-child(1) {display: none;}
.hamburgerBtn.open span:nth-child(2) {display: block;}

main div {
    background-color: #000000;
    margin: 10px;
    padding: 10px;
    height: auto;
    color: #1AE6DA;
    z-index: 0;
    text-align: center;
}

main div p {
    text-align: center;
    padding: 10px;
    text-shadow: 1px 1px 5px #fffb00;
    color: #1AE6DA;
    position: relative;
    z-index: 1;
}

#hero-box {
    padding: 0;
    position: relative;
    overflow: hidden;
}

#hero-box p {
    position: absolute;
    background-color:#a9ff14b3;
    padding: 5px; 
    margin: 10px; 
    color:#2a0047;
}

#chamber-button {
    background-color: #000000;
    position: absolute;
    color:#1AE6DA;
    bottom: 10px; 
    right: 10px;
    padding: 10px;
    font-size: 14px;
    border-radius: 12px; 
}

#chamber-button:hover {
    cursor: pointer;
    color:#2a0047;
    background-color: #a9ff14;
}

#hero-img {
    width: 100%;
    height: auto;
    z-index: -1;
    margin-bottom: -1%;
}

#weather-box {
    text-align: center;
}

#top-weather {
    display: flex;
    justify-content: center;
    margin: 0px; 
    padding: 0px;
}

#wind-temp {
    margin: 40px; 
    margin-left: 10px; 
    white-space: nowrap;
}

#top-weather img {
    height: 100px; 
    width: auto; 
    padding-left: 30px; 
}

#bottom-weather {
    display: flex; 
    flex-direction: column;
}

#wind-speed {
    margin: 10px; 
}

#news-Release {
    text-align: left;
}

#spotlight-box {
    height: auto;
    

}

#spotlight-1, #spotlight-2 {
    border-width: 2px;
    border: solid;
    border-color:#1ae6d881;
    margin: 0px;
}

#spotlight-3 {
    display: none;
}

#spotlight-1 img, #spotlight-2 img, #spotlight-3 img {
    width: 100px; 
}

.bottom-row {
    display:flex;
    flex-direction: row;
    padding-top: 0px; 
    padding-bottom: 0px;
    justify-content: center;
}

.bottom-row h2 {
    margin: 5px;
}

.bottom-row a {
    color:#e61a1a;
}

.bottom-row a:visited {
    color: rgb(255, 0, 217);
}

.bottom-row a:hover {
    color: rgb(26, 255, 0);
}

#join-box {
    display: none;
}

#join-button {
    color:#2a0047;
    background-color: #a9ff14;
    font-size: 25px;
    width: 40%;
    height: 30%;
    border-radius: 5px;
    align-self: center;
}

#join-button:hover {
    cursor: pointer;
    background-color: #000000;
    color:#1AE6DA;
    border-color: #ff0000;
}

footer hr {
    width: 100%;
}

footer {
    display: flex; 
    flex-direction: column;
}

#Content-1 {
    display: flex;
    flex-direction: column;
}

#Content-2 {
    display: flex;
    flex-direction: column;
    padding-top: 10px; 
}

#Content-2 h2 {
    padding: 10px;
}

#Content-3 {
    padding: 10px; 
    display: flex;
    flex-direction: column;
}

#Content-3 p {
    display: none;
}

#meeting-ad {
    text-align: center;
    margin: 20px;
}

#map-link a{
    text-decoration: none;
    color: #e61a1a;
}

#map-link a:visited{
    color: rgb(255, 0, 217);
}

#map-link a:hover {
    color: rgb(26, 255, 0);
}
/* !  Discover page */



#discovery-main img[data-src] {
    filter: blur(0.2em);
  }
  
  #statistics-box img {
  filter: blur(0em);
  transition: filter 0.5s;
  }

#discovery-main { 
    display: grid; 
    grid-template-rows: repeat(10, auto);
    grid-template-columns: 1fr;
}

#discovery-text-1 {
    grid-row: 1/2;
    margin: 10px 50px 10px 50px;
    border-radius: 70px 70px 0px 0px;
    outline: 7px solid #2a0047;
}

#discovery-1 {
    grid-row: 2/3;
    outline: 7px solid #000000;
    border-radius: 0px 0px 70px 70px;
    background-color: #2a0047;
    margin: 10px 50px 10px 50px;
    padding: 30px;
}

#discovery-text-2 {
    grid-row: 3/4;
    margin: 10px 50px;
    border-radius: 70px 70px 0px 0px;
    outline: 7px solid #2a0047;
}

#discovery-2 {
    grid-row: 4/5;
    outline: 7px solid #000000;
    border-radius: 0px 0px 70px 70px;
    background-color: #2a0047;
    margin: 10px 50px;
    padding: 30px;

}

#discovery-text-3 {
    grid-row: 5/6;
    margin: 10px 50px 10px 50px;
    border-radius: 70px 70px 0px 0px;
    outline: 7px solid #2a0047;
}

#discovery-3 {
    grid-row: 6/7;
    outline: 7px solid #000000;
    border-radius: 0px 0px 70px 70px;
    background-color: #2a0047;
    margin: 10px 50px 10px 50px;
    padding: 30px;
}

#discovery-text-4 {
    grid-row: 7/8;
    margin: 10px 50px 10px 50px;
    border-radius: 70px 70px 0px 0px;
    outline: 7px solid #2a0047;
}

#discovery-4 {
    grid-row: 8/9;
    outline: 7px solid #000000;
    border-radius: 0px 0px 70px 70px;
    background-color: #2a0047;
    margin: 10px 50px 10px 50px;
    padding: 30px;
}

#discovery-text-5 {
    grid-row: 9/10;
    margin: 10px 50px 10px 50px;
    border-radius: 70px 70px 0px 0px;
    outline: 7px solid #2a0047;
}

#discovery-5 {
    grid-row: 10/11;
    outline: 7px solid #000000;
    border-radius: 0px 0px 70px 70px;
    background-color: #2a0047;
    margin: 10px 50px 10px 50px;
    padding: 30px;
}

#discovery-main {
    text-align: center;
}

.discovery-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 18%
}

/* ! Join page */

#join-us-title {
    margin: 50px;
    text-align: center;
    font-weight: bold;
    color: #000000;
    text-shadow: 1px 1px 0px #1AE6DA;
    font-size: 50px;
}

#join-main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(8, auto);

}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 600px;
    }

.form-group label {
    align-items: center;
    text-align: left;
    margin-right: 10px;
    margin-bottom: 10px;
}


.form-group input[type="radio"] {
    margin: 0;
    vertical-align: middle;
    grid-column: 1/2;
}

.radio-lable {
    display: grid; 
    grid-template-columns: 20% 80%;
}

.form-group input,
.form-group textarea {
    display: block;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

.form-group input[type="submit"] {
    margin: 20px;

}

form {
    margin-left: 50px;
}

#submit-button {
    width: 30%;
}

/* ! Thank you page */

#thankyou-main {
    text-align: center;
    display: flex;
    flex-direction: row;
}

#thankyou-main section {
    margin: 10%;
    padding: 5%;
    background-color:#cafffb;
}

/* ! Directory page */

#directory-menu {
    padding: 30px; 
    border-radius: 5px;
    margin: 5%; 
}

#directory-menu button {
    width: 80px;
    height: 80px;
    margin: 20px; 
    box-shadow: 0px 0px 20px #ffffff;
    
}

.list {
    margin-top: 30px; 
    margin-bottom: 70px; 
}

.list li {
    list-style-type: none;
    background-color: #2a0047;
    color: #a9ff14; 
    padding: 2%;
    padding: 30px; 
}

.list li:nth-child(odd) {
    background-color: #000000;
    color: #1AE6DA; 
}


.list li h2:first-child,
.list li h2:nth-child(2),
.list li h2:nth-child(3) {
  margin-bottom: 15px;
}

.list li h2 {
    margin: 0px;
}

.list li a {
    text-decoration: none;
    color: #e61a1a;
}

.list li a:visited{
    color: rgb(255, 0, 217);
}

.list li a:hover {
    color: rgb(26, 255, 0);
}

/* ! grid box */

.grid div {
    padding: 8%; 
    box-shadow: 0px 0px 20px #23008b;
    margin: 10%;
}

.grid div img {
    width: 50%; 
    height: auto;
}


.grid div a {
    text-decoration: none;
    color: #e61a1a;
}

.grid div a:visited{
    color: rgb(255, 0, 217);
}

.grid div a:hover {
    color: rgb(26, 255, 0);
}

.grid div p:nth-child(3) {
    color:#fffb00;
    font-size: 14px;
}

/* ! contact page */
#top-half {
    display: grid; 
    grid-template-rows: auto auto auto;
}

#top-half form {
    grid-row: 3/4;
    padding-left: 0; 
    margin-left: 0;
    
}

#top-half form div {
    text-align: start;
    display: flex;
    flex-direction: column;
}

#top-half hr {
    grid-row: 2/3;
    width: 100%; 
}

#commerce-contact {
    grid-row: 1/2; 
}

#bottom-half div {
    display: flex; 
    flex-direction: column;
}

#bottom-half div h2 {
    margin: 3px; 
}

#comments {
    height: 150px;
}

/* ! 404 page */

#main-404 a img {
    width: 80%; 
    margin: 0% 10% 10% 10%;
}

#main-404 {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

#main-404 p {
    margin: 5%; 
}

#main-404 h2:nth-child(4) {
    margin-bottom:15%;
}



