p {
    font-family: 'EB Garamond', serif;
}

h1 {
    font-family: 'Tangerine', cursive;
}

/* ! Planning document */

.centered {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 50%;
}

#planning-document-body {
    background-color: white;
}

#planning-document-body main {
    background-color: white;
}

#planning-document-body h1 {
    color:#563306;
}


#planning-document-body header {
    background-color:#bbfffc;
    color: #563306;
    text-align: center;
    padding: 20px; 
    margin: 40px; 
    box-shadow: 0 0 30px #563306;
}

#planning-document-body main hr {
    margin: 10%;
}

.colors {
    width: 100%;
    min-width: 350px;
    margin: 30px auto;
    text-align: center;
}

.colors th {
    background-color: #999;
    color: white; 
}

.primary {
	background-color: #563306;
	color: white;
}

.secondary {
	background-color: #87f006;
}

.accent1 {
	background-color: #bbfffc;
}

.accent2 {
	background-color: #941818;
	color: white;
}

.colored {
    background-color: #563306;
    color:#bbfffc;
    padding: 5%;
}

.sketch-title {
    font-size: 19px;
    padding: 40px; 
    text-align: center;
}

#small-sketch {
    width: 30%;
}

#large-sketch {
    width: 90%; 
}

#logo-title {
    margin-bottom: 20px; 
}

/* ! Index page */

#primaryNav, #lowerNav {
    padding: 0px;
}

header {
    background-color: #a4620b;
    text-align: center;
}

header a {
    color:#00000000;
}

.logo {
    width: 250px;
    margin: 30px;
}

.mediumline {
    display: none;
}

.primaryNav {
    list-style-type: none; 
}

.baseline {
    width: 50%;
    height: 2px;
    background-color: #87f006;
    margin: 30px auto;
}

.primaryNav p a{
    border: 3px solid #87f00687; /* Add border around each item */
    padding: 10px; /* Add padding inside the border */
    text-decoration: none;
    font-size: 25px;
    color: #00fff2;
}

.primaryNav p a:hover{
    background-color: #ff5353;
    color: black;
}

.lowerNav {
    display: flex; 
    justify-content: space-around;
}

.icons a img {
    width: 50px; 
    padding: 30px 8px; 
}
body {
    background-color: #941818;
}

main {
    background-color: #941818;
}

main div {
    background-color: #563306;
    color:#87f006;
    padding: 5%; 
    margin: 3%;
    text-align: center;
    border: 1px solid #bbfffc;
    border-radius: 10px;
}

main div:hover {
    background-color: #6b4008;
}

main div div {
    border: 2px solid #49918e;
}

main div img {
    width: 75%;
}

#weather-icon {
    width: auto;
}

main div p {
    text-align: left;
}

h1 {
    font-size: 60px;
    color:#bbfffc;
}

#weather-div {
    text-align: center;
}

#top-weather {
    display: flex;
    flex-direction: row;
    border: none;
    font-size: 22px;
    background-color: #03009c2c;
    align-items: center;
    margin-right: 10px; 
    justify-content: center;
    padding: 3% 0%;
    width: 50%;
    margin-left: 25%;
}

#top-weather img {
    margin-right: 30px;
    max-width: 50px;
}

#middle-weather {
    border: none;
    background-color: #00000000;
    padding-bottom: 60px;
}

#middle-weather hr {
    width: 50%;
}

#humidity {
    margin-bottom: 80px;
}

#weather-section div {
    display: flex; 
    flex-direction: row;
    margin: 5px;
    margin-top: 3%; 
}

#weather-section div  p {
    padding: 0px 20px;
    margin: 0px;
}

#weather-box {
    border: none;
    background-color: #00000000;
}

#weather-section div:nth-child(4) {
    display: none; 
}

#weather-section div:nth-child(5) {
    display: none; 
}

#weather-section div:nth-child(6) {
    display: none; 
}


#drinks-button {
    background-color: #002501;
    color: #bbfffc;
    padding: 5px 10px;
    border-color: #bbffc6;
}

#drinks-button:hover {
    background-color: #ff5353;
    color: #000000;
    padding: 5px 10px;
    border-color: #bbffc6;
}

footer {
    background-color: #a4620b;
    text-align: center;
    padding: 30px;
    color:#bbffc6;
}

#time-stamp-div {
    margin-top: 70px;
    background-color: black;
    color: white;
    padding: 1px; 
}

#number-div {
    padding: 15px;
    margin: 12px;
    display: flex;
}

#drinks-number {
    margin-left: 5px; 
}

footer hr {
    width: 50%;
    height: 2px;
    background-color: #87f006;
    margin: 30px auto;
}

footer a {
    color: white;
}

footer a:hover {
    color: #000000;
}

/* ! Fresh */

#fresh-main div img {
    box-shadow: 0px 0px 40px black;
    max-width: 600px;
}

#fresh-main div article h3,
#fresh-main div article p {
    display: none;
}

#fresh-main div article.show h3,
#fresh-main div article.show p {
    display: block;
}

#fresh-main div article.show h3 {
    background-color: white;
    margin: 0px; 
    padding: 10px; 
    color: black;
}

#fresh-main div article.show p {
    background-color: white;
    color: black;
    margin: 0px;
    padding: 10px;
    padding-left: 20px; 
}

#fresh-main div article.show p:nth-child(odd) {
    background-color: rgb(219, 219, 219);
    
}

h2 {
    margin: 5px; 
}

div.fruit-card {
    padding: 1%; 
}

article div {
    max-height: 50px; 
}

article.show div {
    min-width: 130px; 
    max-height: 1000px;
}

.first-group div, .second-group div, .third-group div {
    border: 0px;
    background-color: #00000000;
    padding: 0px; 
}

.first-group, .second-group, .third-group {
    border: 0px;
    margin: 0px; 
    padding: 0px; 
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 40px; ;
}

.first-group {
    display: grid; 
    grid-template-columns: 100px auto;
    grid-template-rows: auto auto auto;
    text-align: start;
    grid-gap: 10px; 
    padding: 3%; 
}

.first-group input {
    max-width: 300px;
}

.third-group div {
    display: flex;
    flex-direction: column;
}

#submit-button {
    background-color: #002501;
    color: #bbfffc;
    padding: 5px 10px;
    border-color: #bbffc6;
}

#submit-button:hover {
    background-color: #ff5353;
    color: #000000;
    padding: 5px 10px;
    border-color: #bbffc6;
}

#output {
    width: 94%;
    padding: 3%;  
}

#output div:hover {
    background-color: #48003b;
    padding: 5%;
}

#output div{
    color: #bbffc6;  
    margin-bottom: 50px; 
}

#output div:nth-child(3) {
    background-color: white;
    color: black; 
    padding: 5%;
}

#output div:nth-child(3) p {
    margin: 0px;
    padding: 10px;
}

#output div:nth-child(3) p:nth-child(odd) {
    background-color: rgb(219, 219, 219);
}

/* ! About us */

#fruit-basket-img {
    max-width: 250px;
}

#about-us-divider {
    margin-top: 15%;
    margin-bottom: 10%;
}

iframe {
    max-width: 90%;
}