@media only screen and (min-width: 1000px) {
    .mediumline {
        display: none; 
    }

    .primaryNav {
        display: flex; 
    }

    .primaryNav li {
        margin: 20px; 
    }

    .icons {
        display: flex; 
    }
    
    #index-main div {
        margin: 0px;  
    }

    #index-main {
        padding: 30px; 
        padding-right: 50px; 
        display: grid; 
        grid-template-columns: 65% 35%;
        grid-template-rows: 300px 550px auto;  
        grid-gap: 20px; 
    }

    #costal-div {
        grid-column: 1/2;
        grid-row: 1/2
    }

    #weather-div {
        grid-column: 2/3;
        grid-row: 1/3;
        display: flex; 
        flex-direction: column; 
    }

    #fruit-div {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    #number-div {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    #middle-weather {
        padding-bottom: 0px; 
    }

    footer h1 {
        margin-left: 20%;
    }

    footer div {
        margin-right: 20%; 
    }

    #footer-box {
        margin-right: 0px; 
    }

    #time-stamp-div {
        margin-right: 0px; 
    }

    /* ! Fresh */

    #fresh-main div article div {
        width: 160%;
    }

    #fresh-main div article {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    article div {
        max-height: 40px; 
    }

    #fresh-main {
        display: grid; 
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }

    #fresh-title-div {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #ingredients-div {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    #smoothie-div {
        grid-column: 2/3;
        grid-row: 1/2;
    }
}