body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    max-width: 750px; 
    background-color: rgb(0, 0, 0);
    color: rgb(138, 109, 36);
}

.header-box, .footer-box {
    
    height: 12em;
    width: 30em; 
    background-color: rgb(0, 47, 165);
    padding: 1em;
    text-align: center;
    box-shadow: 10px 10px 30px #5c1919;
}

.header-box {
    display: grid; 
    grid-template-columns: 140px auto;
    align-items: center;
}

.portrait {
    width: 100px; 
    padding: 30px; 
}

#mainPageTitle {
    color: yellow; 
    font-size: 40px;
}

hr {
    width: 50%;  
    text-align: left;
    margin-left: 1em;
}

li {
    color: #BF9631;
}

a:link {
    color: #94fdff;
}

.footer-box {
    grid-template-rows: auto;
    align-items: center;
}

footer {
    text-align: center;
}

.copywrightText {
    padding-top: 30px; 
    color: rgb(0, 251, 255);
}

.update {
    color: yellow; 
    font-size: 14px;
}